.navbar{
    display: flex;
    box-shadow: rgba(0,0,0, .15) 0px -2px 10px 0px;
    justify-content: space-between;
    align-items: center;
    padding: .5em 2em;
}
.brand{
    font-size: 1.2em;
}
.brand span{
    font-weight: 900;
    text-transform: uppercase;
}

.links_list{
    display: flex;
    list-style: none;
}

.links_list{
    margin-right: 1em;
}

.links_list li a{
    padding: .4em .6em;
}

.active{
    background-color: #000;
    color: #fff;
}

/* Estilos para o dropdown */
.dropdown {
    position: relative;
}

.dropdown:hover .dropdown_content {
    display: block;
}

.dropdown_content {
    display: none;
    position: absolute;
    top: 110%;
    left: 0;
    background-color: #f9f9f9;
    min-width: 95px;
    padding: 1px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown_content li {
    margin-bottom: 8px;
}

.dropdown_content li:last-child {
    margin-bottom: 0;
}

.dropdown_content a {
    color: #333;
    text-decoration: none;
}

.dropdown_content a:hover {
    text-decoration: underline;
}
