.about{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about p{
    color: #AAA;
    margin-bottom: 2em;
}

.about a {
    display: block;
    margin-top: 5px;
    padding: 10px 15px;
}


.banner {
    padding: 3rem 7.5rem 6.25rem;
    background-color:white;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.titulo {
    font-family:sans-serif;
    font-size: 4rem;
    margin-top: 4.875rem;
    margin-bottom: 2rem;
    text-align: center;
    flex-direction: column;
    color: black;
}

.paragrafo {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    text-align: center;
    padding-bottom: 30px;
    display: block;
    color: black;
}

.link_rede {
    border: 2px solid ;
    color: white;
    width: 378px;
    border-radius: 16px;
    font-size: 24px;
    padding: 20px 40px;
    text-decoration: none;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
    text-align: center;
    margin-left: 70px;

}

.bannerPrincipal {
    position: absolute;
    right: 15vw;
    bottom: 2.2vw;
    width: 25vw;
    top: 200px;
}

@media (max-width: 1024px) {
    .bannerPrincipal{
        width: 45px;
    }
}
@media (max-width: 1100px) {
    .banner {
        padding: 3.5rem 1.5rem;
    }

    .titulo {
        margin-top: 0;
        margin-bottom: 1.5rem;
    }

    .paragrafo {
        margin-bottom: 1.5rem;
    }


    .bannerPrincipal {
        right: 10vw;
        width: 35vw;
    }
}

@media (max-width: 744px) {
    .banner {
        padding: 2rem 1rem;
        display: block;
    }

    .titulo {
        margin-bottom: 2rem;
    }

    .paragrafo {
        margin-bottom: 2rem;
    }

    .bannerPrincipal {
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .bannerPrincipal {
        width: 240px;
        transform: translate(-1.5rem, 0px);
    }

}

@media screen and (max-width: 768px) {
    .bannerPrincipal{
        padding: 2rem 5rem;
    }


}
@media screen and (max-width: 425px) {
    .bannerPrincipal{
        visibility: hidden;
    }
    .banner{
        padding-left: 45px;
    }
    .link_rede{
        align-content: center;
        margin-bottom: 5px;
        margin-left: 0px;
    }

}

